body {
    padding: 0;
    margin: 0;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
main {
    width: 100%;
    height: auto;
    background: url("../images/bachground.png");
}

header {
    width: 100%;
    float: left;
    height: 160px;

}

.top_bar {
    width: 100%;
    float: left;
    height: 22%;
    background: #f2f2f2;
}

.bar_call {
    float: left;
    width: 20%;
    height: auto;
    padding: 5px;
    margin-left: 65px;
}

.middle {
    width: 30%;
    float: left;
    padding: 15px;
}

.bar_mySelf {
    width: 40%;
    height: 20px;
    float: left;
    /*padding: 5px;*/
}

.header-menu_link {
    padding-right: 25px;
    padding-left: 30px;
    color: #393939;
    font-family: Lato, sans-serif;;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-phone_link {
    margin-left: 20px;
    color: #393939;
    font-family: Lato, sans-serif;;
    font-size: 11px;
    text-decoration: none;
}

.menu {
    width: 100%;
    float: left;
    height: 79%;
}

.menu_shop {
    float: left;
    width: 35%;
    display: flex;
    height: auto;
    margin-left: 65px;
    padding-top: 50px;
}

.title_shop {
    float: left;
    padding-left: 20px;
    margin-left: 22px;
    padding-top: 40px;
    width: 19%;
    height: auto;
}

.action_shop {
    float: left;
    width: 30%;
    height: auto;
    margin-top: 9px;
    margin-left: 100px;
    padding: 28px;
}

.action_shop img {
    background-size: cover;
    width: 80%;
    height: 100%;
}

.menu_shop > li > a {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    color: #000;
    padding: 8px;
    text-align: center;
}

.currency_select {
    background: black;
    width: 100%;
    height: 100%;
    color: white;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 30px;
    height: 30px;
}

.slickslider {
    width: 100%;
    float: left;
    height: 700px;

}

.slickslider img {
    width: 100%;
}

.support {
    width: 93%;
    margin: 0 auto;
    float: left;
    margin-top: 20px;
    height: 140px;
    margin-left: 55px;
}

.middle_support {
    width: 33.1%;
    height: 80px;
    float: left;
}

.left {
    width: 100%;
    height: 100%;
    background: url("../images/left.png");
    background-size: cover;
}

.center {
    width: 100%;
    height: 100%;
    background: url("../images/center.png");
    background-size: cover;
}

.right {
    width: 100%;
    height: 100%;
    background: url("../images/right.png");
    background-size: cover;
}

.terms {
    margin-top: 20px;
    width: 70%;
    height: 60px;
    float: left;
    margin-left: 100px;
}

.title-terms {
    color: #fff;
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 15px;

}

.center_terms {
    text-align: center;
}

.text-terms {
    margin-right: 91px;
}

.terms_right {
    margin-left: 29px;
}

.text-terms {
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.triangle_img {
    width: 5%;
    margin-left: 25px;
    margin-top: 20px;
    height: 50px;
    position: absolute;
}

.triangle {
    width: 5%;
    margin-left: 60px;
    margin-top: 20px;
    height: 50px;
    position: absolute;
}

.triangle_right {
    margin-top: 15px;
}

.handPicked {
    width: 100%;
    height: 130px;
    float: left;
}

.middle_handPicked {
    width: 32%;
    height: 100%;
    margin-left: 12.5px;
    float: left;
}

.rumba {
    width: 20%;
    float: left;
    margin-top: 45px;

}

.rumba_left img {
    margin-left: 65px;
}

.title_handPicked {
    width: 60%;
    float: left;
    margin-top: 15px;

}

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin: 30px 0;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin: 30px 0;
}

.collection {
    width: 94%;
    float: left;
    height: auto;
    margin-left: 40px;
    margin-bottom: 40px;


}
.middle_collection{
    width: 31%;
    height: 48%;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
.small_collection{
    width: 100%;
    height: 433px;
    float: left;

}
.small_collection>img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.summer_collection {
    width: 92%;
    float: left;
    height: auto;
    margin-left: 57px;
    border: 1px solid #f2f2f2;
    /*padding: 20px;*/
}

.middle_summer_collection {
    width: 23%;
    height: 350px;
    margin-left: 20px;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
}
.middle_summer_collection>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add_brand {
    margin-left: 35px;
    float: left;
    margin-top: -50px;
    z-index: 100;
    position: absolute;
    height: 0;
    width: 16%;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 50px solid black;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.add_brand:hover {
    border-bottom: 50px solid #f0975d;

}

.br_a {
    width: 100%;
    height: auto;
    margin-top: 8px;
}

.br_a > a {
    color: white;
    text-decoration: none;
}
.br_a:hover{

}

.middle_summer_collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.hide_coll {
    width: 26.5%;
    height: 62%;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    position: absolute;
    border: 2.5px solid white;

}



.hide_coll:hover {
    background: rgba(127, 130, 135, 0.57);
    border: none;
}


.brand {
    width: 92%;
    float: left;
    height: 170px;
    margin-left: 57px;
}

.middle_brand {
    width: 15%;
    height: 100px;
    /*margin-left: 18px;*/
    float: left;


}


.middle_brand img {
    width: 90%;
    height: 90%;
    background-size: cover;
}

.customers {
    width: 100%;
    height: 380px;
    float: left;
    background: #d9bf8f;
}

.middle_customers {
    width: 40%;
    height: 100%;
    float: left;
}

.cust {
    width: 20%;
    height: 100%;
    float: left;
}

.small_customers {
    width: 50%;
    height: 90%;
    float: left;
}

.txt_cust {
    width: 100%;
    height: 35%;
    float: left;
}

.text_cust {
    width: 100%;
    height: 75%;
    float: left;
}

.profession {
    color: #7f7e7e;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 28px;
}

.sandra_text {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
    color: #fff;
    max-width: 300px;
}

.shaheer_txt {
    text-align: right;
}

.name_stylish {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    line-height: 18px;
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
}

footer {
    width: 100%;
    height: 630px;
    background: black;
    float: left;
}

.arrow-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 130px 0 130px;
    border-color: #fdfdfd transparent transparent transparent;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 200px 0 200px;
    border-color: #ffffff transparent transparent transparent;
}

.shop_tr {
    width: 30%;
    margin-left: 490px;
    margin-top: 124px;
    height: 70px;
    position: absolute;
    z-index: 10000;

}

.middle_footer {
    width: 100%;
    height: 70%;
    float: left;
}

.small_footer {
    width: 100%;
    float: left;
    height: 30%;
}

.shop {
    width: 28%;
    height: 100%;
    float: left;
    margin-left: 20px;
}

.info_footer {
    width: 45%;
    height: 100%;
    margin-left: 30px;
    float: left;
    padding-left: 25px;
}

.soc_footer {
    width: 70%;
    float: left;
    margin-left: 70px;
    height: 100%;
}

.social_contact {
    width: 100%;
    height: 30%;
    float: left;
}

.subscribe {
    width: 100%;
    height: 30%;
}

.footer-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 45px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}

.block > li {
    padding-top: 15px;
}

.block > li > a {
    color: #737373;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;

}

.block > li > a:hover {
    color: #d9bf8f;
}

.sub_form {
    width: 70%;
    border: 1px solid #494949;
    padding: 3px 3px 3px 20px;
}

input[type=text] {
    border: 0;
    outline: 0;
    width: 60%;
    background: 0 0;
    font-size: 12px;
    color: #fff;

}

input[type=submit] {
    border: 0;
    width: 35%;
    background: #353333;
    padding: 10px 10px;
    color: #fff;
    font-family: 'Playfair Display', serif;;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

.hr_footer {
    width: 100%;
    height: 11px;
    border-top: 1px solid #363636;

}

.sm_tr {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 10px solid #363636;
    margin: 0 auto;
}

.copy {
    width: 30%;
    float: left;
    color: #363636;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    margin: 15px 0 0 75px;
}

.footer-bot__cards {
    width: 30%;
    height: 100px;
    float: left;
    display: flex;
    margin-left: 330px;

}

.footer-bot__cards > nav > a {
    padding: 10px;
}

.footer-bot__cards > nav {
    width: 100%;
    height: 70px;
}

.footer-bot__cards > nav > a {
    width: 20%;
    height: 100%;
    float: left;
}

.footer-bot__cards nav > a > img {
    width: 70px;
    height: 50px;

}

.slick-dots {
    position: absolute;
    bottom: 10%;
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
}

li > .slick-active {
    border: 8px solid #000000;
!important;
}

.slick-dots li {
    background: 0 0;
    text-indent: -9999px;
    margin: 10px 10px;
    border-radius: 0;
    width: 0;
    padding: 0;
    height: 0;
    border: 8px solid #b2b2b2;
    transform: rotate(45deg);
    position: relative;
    top: -15px;
    display: inline-block;
    cursor: pointer;
}

.slickslider > img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    /*background-size: cover;*/
}

.slick-dots li .slick-active button {
    background: black;
    border: 10px solid #121319;
!important;
}

.header-menu_link:active {
    color: #d9bf8f;
}

.bar_mySelf_ul {
    display: flex;
    margin-left: 105px;
    font-family: Lato, sans-serif;;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
}

.logout {
    margin-top: -5px;
    color: #393939;
    font-size: 11px;
    text-transform: uppercase;
}

.bar_mySelf_ul > li > a {
    color: #393939;

}

.site-product {
    width: 100%;
    height: auto;
    float: left;
}

.site-cat {
    width: 100%;
    height: 220px;
}

.products {
    width: 100%;
    height: auto;
}

.filter {
    width: 30%;
    float: left;
    height: 500px;
    background: white;
}

.middle-products {
    width: 70%;
    height: auto;
    float: left;
}

.block-product {
    margin-top: 20px;
    width: 30%;
    margin-left: 22px;
    height: 400px;
    float: left;
    margin-bottom: 20px;
}

.product-img {
    width: 100%;
    height: 85%;
    float: left;
    background: gray;
}

.block-product-sale_price {
    color: red;
}

.site-cat img {
    width: 100%;
    height: 100%;
    background: repeat no-repeat;
    object-fit: cover;
}

.all-categories {
    width: 90%;
    float: left;
    margin-left: 30px;
}

.all-categories > ul {
    padding: 15px;

}

.all-categories > ul > li > a {
    color: #393939;
    font-family: Lato, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-style: italic;

}

.soc-img {
    width: 16%;
    height: 50%;
    margin-left: 10px;
    margin-top: 30px;
    float: left;

}

.soc-img img {
    height: 40px;
    width: 40px;

}

.fromSlider {
    width: 20%;
    margin-left: 550px;
    margin-top: 320px;
    height: 60%;
    position: absolute;
    z-index: 10000;

}

.text {
    width: 100%;
    height: 250px;
    border: 2px solid white;
}

.text-block {
    width: 100%;
    position: absolute;
    display: none;
}

.text-btn {
    width: 55%;
    margin-left: 62px;
    margin-top: 20px;
    height: 60px;
    text-align: center;
    float: left;
    font-size: 20px;
    background: #f09d66;
    border: none;
    color: white;
    font-family: Lato, sans-serif;;

}

.middle-text {
    width: 96%;
    height: 96%;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid white;
}

.name-text {
    width: 60%;
    height: auto;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
    color: white;
    text-align: center;
    float: left;
}

.sale {
    float: left;
    width: 60%;
    height: auto;
    margin-left: 50px;
    margin-top: 5px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;

}

.up {
    float: left;
    width: 60%;
    margin-left: 50px;
    margin-top: 5px;
    color: white;
    font-size: 20px;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.up > span {
    position: relative;
    display: inline-block;
}

.up > span:before,
.up > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: white;
}

.up > span:before {
    right: 100%;
    margin-right: 15px;
}

.up > span:after {
    left: 100%;
    margin-left: 15px;
}

.pr {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.text-btn:hover {
    background: black;
}

.hide_coll:hover .plus_btn {
    display: block;
    margin-left: 150px;
    margin-top: 290px;
    width: 100px;
    height: 48px;
    padding-top: 15px;
    background: black;
    border: none;
    color: white;
    font-family: Lato, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
}

.hide_coll:hover .plus_btn:hover {
    background: #f09d66;
    cursor: pointer;
}

.plus_btn{
    display: none;
}

.middle_summer_collection:hover {
    box-shadow: 7px 13px 33px -2px rgba(0, 0, 0, 0.75);
}

.line_handPicked {
    height: auto;
    margin-top: 18px;
    padding: 20px;

}

.reg_hr {
    padding: 0;
    border: none;
    height: 1.3px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    color: #333;
    text-align: center;
}
.slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 100px;
    line-height: 1;
    color: #fdfdfd;
    opacity: 0.55;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.slick-prev {
    left: 50px;
    top: 280px;
    position: absolute;
    z-index: 10;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.slick-next {
    right: 50px;
    top: 280px;
    position: absolute;
    z-index: 10;

    color: inherit;

    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.slick-next:before {
    content: "›";

}

.slick-prev:before {
    content: "‹";
}

.header-cart {
    position: fixed;
    width: 25%;
    height: auto;
    background: white;
    z-index: 900;
    margin-top: 88px;
    color: black;
    right: 80px;
    display: none;

}

.header-icons-noti {
    border-radius: 50%;
    background: black;
    color: white;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: -10px;
    position: absolute;
    text-align: center;

}

.header-cart-wrapitem {
    width: 100%;
    height: auto;

}

.header-cart-item {
    width: 100%;
    height: 100px;
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
}

.header-cart-item-img {
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 10px;
    background: #848484;
}

.header-cart-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-cart-item-txt {
    width: 65%;
    height: 100%;
    float: left;
    color: black;
    text-decoration: none;
}

.header-cart-item-name {
    width: 90%;
    height: 50%;
    text-decoration: none;
    color: #696969;;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    margin-top: 15px;
    float: left;
    margin-left: 10px;

}

.header-cart-item-name:hover {
    text-decoration: none;
    color: #d9bf8f;
}

.header-cart-item-info {
    width: 90%;
    height: 30%;
    float: left;
    margin-left: 10px;
    color: #848484;;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
}

.header-cart-total {
    width: 40%;
    height: 30px;
    float: left;
    margin-left: 200px;
    margin-top: 10px;
    color: #848484;;
    font-family: 'Playfair Display', serif;
    font-size: 19px;

}

.header-cart-buttons {
    width: 100%;
    height: 50px;
    float: left;
    margin-bottom: 20px;
}

.header-cart-wrapbtn {
    width: 40%;
    height: 100%;
    float: left;
    background: black;
    margin-left: 20px;
    border-radius: 50px;

}

.flex-c-m {
    width: 100%;
    height: 100%;
    float: left;
    padding: 15px;
    border-radius: 50px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.flex-c-m:hover {
    text-decoration: none;
    background: #f0975d;
    color: white;
}

.shopping_cart {
    width: 10%;
    float: left;
    height: 40px;

}

.shopping_cart img {
    width: 30px;
    padding-top: 12px;
    height: 40px;
}

.shopping_search {
    width: 70%;
    height: auto;
    margin-top: 12px;
    margin-right: 45px;
    float: left;

}

.btn_search {
    margin-left: 85%;
    margin-top: -35px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    transition: all 0.8s ease;
}

.btn_search > img {
    width: 30px;
    height: 30px;
    background-size: cover;
    background: white;

}

.search_input.active {
    display: block;
    width: 100%;
    border: 1px solid gainsboro;
    outline: none;

}

.btn_search.animate {
    transform: rotate(-360deg);
}

input[type=search] {
    margin-top: -5px;
    display: block;
    width: 0;
    height: 40px;
    border-radius: 50px;
    font-size: 16px;
    background-color: white;
    /*padding: 2px 10px 2px 20px;*/
    /*cursor: default;*/
    border: none;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

/*CONTACT*/
.site-contact {
    width: 100%;
    height: auto;
    float: left;
}

.site-cat {
    width: 100%;
    height: 200px;
    float: left;
}

.contact_row {
    margin-top: 20px;
    width: 100%;
    height: 80%;
    float: left;
    margin-bottom: 20px;
}

.contact_map {
    width: 50%;
    height: 100%;
    float: left;
    padding: 15px;

}

.col-contact {
    width: 45%;
    margin-left: 15px;
    height: 100%;
    float: left;

}

#contact-form {
    width: 100%;
    height: auto;
}
.contact_submit{
    width: 20%;
    height: 30%;
    float: left;
    padding: 15px;
    border-radius: 50px;
    background: black;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.contact_submit:hover{

    text-decoration: none;
    background: #f0975d;
    color: white;
}
/*ABOUT*/
.about_store{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    float: left;
}
.postare_store{
    width: 40%;
    height: 100%;
    float: left;

}
.history_store{
    width: 50%;
    height: 100%;
    float: left;
    margin-left: 20px;
}
.postare_store>img{
    width: 80%;
    margin-left: 60px;
    height:500px;
    object-fit: cover;
    float: left;

}
.brand{
    overflow: hidden;
}
.brands_prod {
    margin-top: 5px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    float: left;
}

.brands_ul{
    display: inline-block;
    margin-left: 15px;
    padding-left: 10px;
}
.brands_ul>li{
    width: 80px;
    height: 100%;
    float: left;
}
.brands_ul>li:hover{

    -webkit-box-shadow: 10px 10px 34px -6px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 10px 10px 34px -6px rgba(176, 176, 176, 0.75);
    box-shadow: 10px 10px 34px -6px rgba(0,0,0,0.75);
}
.brands_ul>li>a>img{
    width: 100%;
    height: 100%;
}
.product-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/*@media (min-width: 320px) and (max-width: 480px) {*/

/*body {*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/

/*.collection_center {*/
/*width: 100%;*/
/*height: 100%;*/
/*object-fit: cover;*/
/*background-size: cover;*/
/*}*/

/*.middle_handPicked {*/
/*width: 100%;*/
/*height: 30%;*/
/*margin-bottom: 5px;*/
/*float: left;*/
/*}*/

/*.handPicked {*/
/*width: 100%;*/
/*height: 120px;*/
/*float: left;*/
/*}*/

/*.rumba {*/
/*margin-top: 13px;*/
/*width: 10%;*/
/*float: left;*/

/*}*/

/*.rumba_left {*/
/*margin-left: 45px;*/
/*}*/

/*.title_handPicked {*/
/*width: 60%;*/
/*float: left;*/
/*}*/

/*h1 {*/
/*text-align: center;*/
/*font-size: 25px;*/
/*font-weight: 700;*/
/*font-family: 'Playfair Display', serif;*/
/*font-style: italic;*/
/*}*/

/*main {*/
/*width: 100%;*/
/*height: auto;*/
/*background: url("../images/bachground.png");*/
/*}*/

/*header {*/
/*width: 100%;*/
/*float: left;*/
/*height: 160px;*/
/*}*/

/*.top_bar {*/
/*width: 100%;*/
/*float: left;*/
/*height: 17%;*/
/*background: #f2f2f2;*/
/*}*/

/*.bar_call {*/
/*float: left;*/
/*width: 30%;*/
/*height: auto;*/
/*margin-top: 5px;*/
/*}*/

/*.middle {*/
/*display: none;*/
/*}*/

/*.bar_mySelf {*/
/*width: 70%;*/
/*height: auto;*/
/*margin-top: 5px;*/
/*float: left;*/
/*}*/

/*.header-menu_link {*/
/*padding-right: 0px;*/
/*padding-left: 0px;*/
/*color: #393939;*/
/*font-family: Lato, sans-serif;;*/
/*font-size: 11px;*/
/*text-transform: uppercase;*/
/*text-decoration: none;*/
/*}*/

/*.header-phone_link {*/
/*margin-left: 5px;*/
/*color: #393939;*/
/*font-family: Lato, sans-serif;;*/
/*font-size: 11px;*/
/*text-decoration: none;*/
/*}*/

/*.menu {*/
/*width: 100%;*/
/*float: left;*/
/*height: 83%;*/
/*}*/

/*.menu_shop {*/
/*float: left;*/
/*width: 80%;*/
/*height: auto;*/
/*padding-top: 10px;*/
/*padding-left: 65px;*/
/*}*/

/*.title_shop {*/
/*float: left;*/
/*margin-left: 155px;*/
/*margin-top: 88px;*/
/*width: 30%;*/
/*height: 50px;*/
/*position: absolute;*/
/*}*/

/*.title_shop img {*/
/*width: 90%;*/
/*height: 30px;*/
/*}*/

/*.action_shop {*/
/*float: left;*/
/*width: 100%;*/
/*height: auto;*/
/*margin-top: 5px;*/

/*}*/

/*.menu_link {*/
/*font-family: 'Playfair Display', serif;*/
/*font-size: 18px;*/
/*font-style: italic;*/
/*text-decoration: none;*/
/*color: #000;*/
/*padding: 8px;*/
/*text-align: center;*/
/*}*/

/*.shopping_cart {*/
/*width: 10%;*/
/*float: left;*/
/*height: auto;*/
/*padding-left: 110px;*/

/*}*/

/*.shopping_cart img {*/
/*width: 30px;*/
/*padding-top: 12px;*/
/*height: 30px;*/
/*}*/

/*.shopping_lang {*/
/*width: 20%;*/
/*margin-top: 15px;*/
/*height: 25px;*/
/*float: left;*/
/*margin-left: 25px;*/

/*}*/

/*.currency_select {*/
/*background: black;*/
/*width: 100%;*/
/*height: 100%;*/
/*color: white;*/
/*}*/

/*.shopping_search {*/
/*width: 15%;*/
/*height: auto;*/
/*float: left;*/
/*margin-left: 30px;*/

/*}*/

/*.search_btn {*/
/*background: none;*/
/*color: inherit;*/
/*border: none;*/
/*padding: 0;*/
/*font: inherit;*/
/*cursor: pointer;*/
/*outline: inherit;*/
/*width: 30px;*/
/*height: 30px;*/

/*}*/

/*.search_btn img {*/
/*padding-top: 12px;*/
/*width: 30px;*/
/*height: 30px;*/
/*object-fit: cover;*/
/*}*/

/*.slickslider {*/
/*width: 100%;*/
/*float: left;*/
/*height: 220px;*/
/*}*/

/*.slickslider img {*/
/*width: 100%;*/
/*}*/

/*.support {*/
/*width: 100%;*/
/*margin: 0 auto;*/
/*float: left;*/
/*height: auto;*/
/*}*/

/*.middle_support {*/
/*width: 100%;*/
/*height: 80px;*/
/*float: left;*/
/*margin-bottom: 10px;*/
/*}*/

/*.left {*/
/*width: 100%;*/
/*height: 100%;*/
/*background: url("../images/left.png");*/
/*background-size: cover;*/

/*}*/

/*.center {*/
/*width: 100%;*/
/*height: 100%;*/
/*background: url("../images/center.png");*/
/*background-size: cover;*/
/*}*/

/*.right {*/
/*width: 100%;*/
/*height: 100%;*/
/*background: url("../images/right.png");*/
/*background-size: cover;*/
/*}*/

/*.terms {*/
/*margin-top: 20px;*/
/*width: 70%;*/
/*height: 60px;*/
/*float: left;*/
/*margin-left: 100px;*/
/*}*/

/*.title-terms {*/
/*color: #fff;*/
/*font-family: Lato;*/
/*font-size: 25px;*/
/*font-weight: 700;*/
/*line-height: 18px;*/
/*margin-bottom: 15px;*/

/*}*/

/*.center_terms {*/
/*text-align: center;*/
/*}*/

/*.text-terms {*/
/*margin-right: 91px;*/
/*}*/

/*.terms_right {*/
/*margin-left: 29px;*/
/*}*/

/*.text-terms {*/
/*color: #fff;*/
/*font-family: Lato;*/
/*font-size: 14px;*/
/*font-weight: 400;*/
/*line-height: 18px;*/
/*}*/

/*.triangle_img {*/
/*width: 5%;*/
/*margin-left: 25px;*/
/*margin-top: 20px;*/
/*height: 50px;*/
/*position: absolute;*/
/*}*/

/*.triangle {*/
/*width: 5%;*/
/*margin-left: 60px;*/
/*margin-top: 20px;*/
/*height: 50px;*/
/*position: absolute;*/
/*}*/

/*.triangle_right {*/
/*margin-top: 15px;*/
/*}*/
/*}*/