body {
    padding: 0;
    margin: 0;
    /*background-image: url("../images/background.png");*/
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
main {
    width: 100%;
    height: auto;

}


header {
    width: 100%;
    float: left;
    height: 160px;

}

.top_bar {
    width: 100%;
    float: left;
    height: 22%;
    background: #f2f2f2;
}

.bar_call {
    float: left;
    width: 20%;
    height: auto;
    padding: 5px;
    margin-left: 65px;
}

.middle {
    width: 30%;
    float: left;
    padding: 15px;
}

.bar_mySelf {
    width: 40%;
    height: 20px;
    float: left;
    /*padding: 5px;*/
}

.header-menu_link {
    padding-right: 25px;
    padding-left: 30px;
    color: #393939;
    font-family: Lato, sans-serif;;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-phone_link {
    margin-left: 20px;
    color: #393939;
    font-family: Lato, sans-serif;;
    font-size: 11px;
    text-decoration: none;
}

.menu {
    width: 100%;
    float: left;
    height: 79%;
}

.menu_shop {
    float: left;
    width: 35%;
    display: flex;
    height: auto;
    margin-left: 65px;
    padding-top: 50px;
}

.title_shop {
    float: left;
    padding-left: 20px;
    margin-left: 22px;
    padding-top: 40px;
    width: 19%;
    height: auto;
}

.action_shop {
    float: left;
    width: 30%;
    height: auto;
    margin-top: 9px;
    margin-left: 85px;
    padding: 28px;

}

.action_shop img {
    background-size: cover;
    width: 80%;
    height: 100%;
}

.menu_shop > li > a {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    color: #000;
    padding: 8px;
    text-align: center;
}

.currency_select {
    background: black;
    width: 100%;
    height: 100%;
    color: white;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 30px;
    height: 30px;
}

.slickslider {
    width: 100%;
    float: left;
    height: 700px;

}

.slickslider img {
    width: 100%;
}

.slick-dots li.slick-active {
    border-color: black;
}

.support {
    width: 93%;
    margin: 0 auto;
    float: left;
    margin-top: 20px;
    height: 140px;
    margin-left: 55px;
}

.middle_support {
    width: 33.1%;
    height: 80px;
    float: left;
}

.left {
    width: 100%;
    height: 100%;
    background: url("../images/left.png");
    background-size: cover;
}

.slickslider > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center {
    width: 100%;
    height: 100%;
    background: url("../images/center.png");
    background-size: cover;
}

.right {
    width: 100%;
    height: 100%;
    background: url("../images/right.png");
    background-size: cover;
}

.terms {
    margin-top: 20px;
    width: 70%;
    height: 60px;
    float: left;
    margin-left: 100px;
}

.title-terms {
    color: #fff;
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 15px;

}

.center_terms {
    text-align: center;
}

.text-terms {
    margin-right: 91px;
}

.terms_right {
    margin-left: 29px;
}

.text-terms {
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.triangle_img {
    width: 5%;
    margin-left: 25px;
    margin-top: 20px;
    height: 50px;
    position: absolute;
}

.triangle {
    width: 5%;
    margin-left: 60px;
    margin-top: 20px;
    height: 50px;
    position: absolute;
}

.triangle_right {
    margin-top: 15px;
}

.handPicked {
    width: 100%;
    height: 130px;
    float: left;
}

.middle_handPicked {
    width: 32%;
    height: 100%;
    margin-left: 12.5px;
    float: left;
}

.rumba {
    width: 20%;
    float: left;
    margin-top: 45px;

}

.rumba_left img {
    margin-left: 65px;
}

.title_handPicked {
    width: 60%;
    float: left;
    margin-top: 15px;

}

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin: 30px 0;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin: 30px 0;
}
.brand{
    margin-left: 20px;
}

.collection {
    width: 94%;
    float: left;
    height: auto;
    margin-left: 40px;
    margin-bottom: 40px;

}

.middle_collection {
    width: 31%;
    height: 48%;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.small_collection {
    width: 100%;
    height: 433px;
    float: left;

}

.small_collection > img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.summer_collection {
    width: 92%;
    float: left;
    height: auto;
    margin-left: 57px;
    border: 1px solid #f2f2f2;
    /*padding: 20px;*/
}

.middle_summer_collection {
    width: 23%;
    height: 350px;
    margin-left: 20px;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.middle_summer_collection > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add_brand {
    margin-left: 35px;
    float: left;
    margin-top: -50px;
    z-index: 100;
    position: absolute;
    height: 0;
    width: 16%;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 50px solid black;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.add_brand:hover {
    border-bottom: 50px solid #f0975d;

}
.active_url{
    color: #f0975d;
}
.brand {
    width: 92%;
    float: left;
    height: 120px;
    margin-left: 70px;
}
.middle_summer_collection:hover .index_heart{
    display: block;
}
.index_heart{
    display: none;
    width: 23px;
    height: 23px;
    z-index: 10;
    position: absolute;
    margin-left: 246px;
}
.wish:hover{
    background-image: url("../images/like.png");
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.br_a {
    width: 100%;
    height: auto;
    margin-top: 8px;
}

.br_a > a {
    color: white;
    text-decoration: none;
}

.br_a:hover {

}

.middle_summer_collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hide_coll {
    width: 26.5%;
    height: 62%;
    margin-left: 16.9px;
    margin-top: 20px;
    float: left;
    position: absolute;
    border: 2.5px solid white;

}

.hide_coll:hover {
    background: rgba(127, 130, 135, 0.57);
    border: none;
}

/*.brand {*/
    /*width: 92%;*/
    /*float: left;*/
    /*height: 170px;*/
    /*margin-left: 57px;*/
/*}*/

.middle_brand {
    width: 15%;
    height: 100px;
    /*margin-left: 18px;*/
    float: left;

}

.middle_brand img {
    width: 90%;
    height: 90%;
    background-size: cover;
}

.customers {
    width: 100%;
    height: 380px;
    float: left;
    background: #d9bf8f;
}

.middle_customers {
    width: 40%;
    height: 100%;
    float: left;
}

.cust {
    width: 20%;
    height: 100%;
    float: left;
}

.small_customers {
    width: 50%;
    height: 90%;
    float: left;
}

.txt_cust {
    width: 100%;
    height: 35%;
    float: left;
}

.text_cust {
    width: 100%;
    height: 75%;
    float: left;
}

.profession {
    color: #7f7e7e;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 28px;
}

.sandra_text {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
    color: #fff;
    max-width: 300px;
}

.shaheer_txt {
    text-align: right;
}

.name_stylish {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    line-height: 18px;
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
}

footer {
    width: 100%;
    height: 630px;
    background: black;
    float: left;
}

.arrow-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 130px 0 130px;
    border-color: #fdfdfd transparent transparent transparent;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 200px 0 200px;
    border-color: #ffffff transparent transparent transparent;
}

.shop_tr {
    width: 30%;
    margin-left: 490px;
    margin-top: 124px;
    height: 70px;
    position: absolute;
    z-index: 10;

}

.middle_footer {
    width: 100%;
    height: 70%;
    float: left;
}

.small_footer {
    width: 100%;
    float: left;
    height: 30%;
}

.shop {
    width: 28%;
    height: 100%;
    float: left;
    margin-left: 20px;
}

.info_footer {
    width: 45%;
    height: 100%;
    margin-left: 30px;
    float: left;
    padding-left: 25px;
}

.soc_footer {
    width: 70%;
    float: left;
    margin-left: 70px;
    height: 100%;
}

.social_contact {
    width: 100%;
    height: 30%;
    float: left;
}

.subscribe {
    width: 100%;
    height: 30%;
}

.footer-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 45px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}

.block > li {
    padding-top: 15px;
}

.block > li > a {
    color: #737373;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;

}

.block > li > a:hover {
    color: #d9bf8f;
}

.sub_form {
    width: 70%;
    border: 1px solid #494949;
    padding: 3px 3px 3px 20px;
}

.inp {
    border: 0;
    outline: 0;
    width: 60%;
    background: 0 0;
    font-size: 12px;
    color: #fff;

}

.sub {
    border: 0;
    width: 35%;
    background: #353333;
    padding: 10px 10px;
    color: #fff;
    font-family: 'Playfair Display', serif;;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

.hr_footer {
    width: 100%;
    height: 11px;
    border-top: 1px solid #363636;

}

.sm_tr {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 10px solid #363636;
    margin: 0 auto;
}

.copy {
    width: 30%;
    float: left;
    color: #363636;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    margin: 15px 0 0 75px;
}

.footer-bot__cards {
    width: 30%;
    height: 100px;
    float: left;
    display: flex;
    margin-left: 330px;

}

.footer-bot__cards > nav > a {
    padding: 10px;
}

.footer-bot__cards > nav {
    width: 100%;
    height: 70px;
}

.footer-bot__cards > nav > a {
    width: 20%;
    height: 100%;
    float: left;
}

.footer-bot__cards nav > a > img {
    width: 70px;
    height: 50px;

}

.slick-dots {
    position: absolute;
    bottom: 10%;
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
}

li > .slick-active {
    border: 8px solid #000000;
!important;
}

.slick-dots li {
    background: 0 0;
    text-indent: -9999px;
    margin: 10px 10px;
    border-radius: 0;
    width: 0;
    padding: 0;
    height: 0;
    border: 8px solid #b2b2b2;
    transform: rotate(45deg);
    position: relative;
    top: -15px;
    display: inline-block;
    cursor: pointer;
}

.slickslider > img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    /*background-size: cover;*/
}

.slick-dots li .slick-active button {
    background: black;
    border: 10px solid #121319;
!important;
}

.header-menu_link:active {
    color: #d9bf8f;
}

.bar_mySelf_ul {
    display: flex;
    margin-left: 100px;
    font-family: Lato, sans-serif;;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
}

.logout {
    margin-top: -5px;
    color: #393939;
    font-size: 11px;
    text-transform: uppercase;
}

.bar_mySelf_ul > li > a {
    color: #393939;


}

.site-product {
    width: 100%;
    height: auto;
    float: left;
}

.site-cat {
    width: 100%;
    height: 220px;
}

.products {
    width: 100%;
    height: auto;
}

.filter {
    width: 30%;
    float: left;
    height: auto;
    background: white;
}

.middle-products {
    width: 70%;
    height: auto;
    float: left;
}

.block-product {
    margin-top: 20px;
    width: 30%;
    margin-left: 22px;
    height: 400px;
    float: left;
    margin-bottom: 20px;
}
.ader_product{
    width: 19%;
    height: 50%;
    margin-left: 15px;
    margin-top: 10px;
    float: left;
    position: absolute;
    border: 1px solid white;
}

.product-img {
    width: 100%;
    height: 85%;
    float: left;
    margin-bottom: 10px;
}


.block-product-sale_price {
    color: red;
}

.site-cat img {
    width: 100%;
    height: 100%;
    background: repeat no-repeat;
    object-fit: cover;
}

.all-categories {
    width: 90%;
    float: left;
    margin-left: 30px;
}

.all-categories > ul {
    padding: 15px;

}

.all-categories > ul > li > a {
    color: #393939;
    font-family: Lato, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-style: italic;

}

.soc-img {
    width: 16%;
    height: 50%;
    margin-left: 10px;
    margin-top: 30px;
    float: left;

}

.soc-img img {
    height: 40px;
    width: 40px;

}

.fromSlider {
    width: 20%;
    margin-left: 550px;
    margin-top: 320px;
    height: 60%;
    position: absolute;
    z-index: 10000;

}
.sign_up{
    width: 50%;
    margin-left: 250px;
    margin-top: 220px;
    height: 20%;
    position: absolute;
    z-index: 10000;
}
.text {
    width: 100%;
    height: 250px;
    border: 2px solid white;
}

.text-block {
    width: 100%;
    position: absolute;
    display: none;
}

.text-btn {
    width: 55%;
    margin-left: 62px;
    margin-top: 20px;
    height: 60px;
    text-align: center;
    float: left;
    font-size: 20px;
    background: #f09d66;
    border: none;
    color: white;
    font-family: Lato, sans-serif;;

}

.middle-text {
    width: 96%;
    height: 96%;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid white;
}

.name-text {
    width: 60%;
    height: auto;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
    color: white;
    text-align: center;
    float: left;
}

.sale {
    float: left;
    width: 60%;
    height: auto;
    margin-left: 50px;
    margin-top: 5px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;

}

.up {
    float: left;
    width: 60%;
    margin-left: 50px;
    margin-top: 5px;
    color: white;
    font-size: 20px;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.up > span {
    position: relative;
    display: inline-block;
}

.up > span:before,
.up > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: white;
}

.up > span:before {
    right: 100%;
    margin-right: 15px;
}

.up > span:after {
    left: 100%;
    margin-left: 15px;
}

.pr {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.text-btn:hover {
    background: black;
}
.pr_add{
    display: block;
    margin-left: 62px;
    margin-top: 255px;
    width: 125px;
    padding-bottom: 5px;
    height: 45px;

    background: black;
    border: none;
    border-radius: 23px;
    color: white;
    font-family: Lato, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;

}

.love{
    display: none;
}
.love_b{
    display: none;
}
.pr_add{
    display: none;
}
.love{
    -webkit-box-shadow: -9px 10px 33px -10px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: -9px 10px 33px -10px rgba(0, 0, 0, 0.38);
    box-shadow: -9px 10px 33px -10px rgba(0, 0, 0, 0.31);
    margin-left: 190px;
    transition-duration: 3s;
    width: 0;
    position: absolute;
    top: -10px;
    height: 0;
    border-bottom: 80px solid rgba(90, 90, 90, 0.23);
    border-right: 80px solid transparent;
}
.love>img{
    margin-left: 45px;
    margin-top: 10px;
}
.love_b{
    margin-top: -12px;
    float: left;

    margin-left: 190px;
    width: 0;
    height: 0;
    border-top: 80px solid #ffffff;
    border-left: 80px solid transparent;
}
.ader_product:hover{
    border: none;
    background: rgba(158, 158, 158, 0.23);
}
.ader_product:hover .love {
    display: block;
}
.ader_product:hover .love_b {
    display: block;
}
.ader_product:hover .pr_add{
    display: block;
}

.pr_add:hover{
    background: #f09d66;
    cursor: pointer;
    font-family: Lato, sans-serif;

    text-decoration: none;
    color: white;
}

.hide_coll:hover .plus_btn {
    display: block;
    margin-left: 140px;
    margin-top: 290px;
    width: 100px;
    height: 48px;
    padding-top: 15px;
    background: black;
    border: none;
    color: white;
    font-family: Lato, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
}
.fil_pr{
    float: left;
    color: #888888;
}

.middle_cat > li {
    margin-bottom: 5px;
    padding: 2px;
}

.middle_cat > li > a {
    text-transform: capitalize;
    margin-left: 18px;
    color: #a2a2a2;
}

.middle_cat > li > a:hover {
    color: #f09d66;
}
.block-product-name:hover{
    text-decoration: none;

}
.block-product-name>h3:hover{
    color: #f09d66;
}

.middle_cat > li > a:active {
    color: #f09d66;
}
.midlle-filter{
    margin-left: 25px;
    width: 90%;
    height: 40%;
    float: left;
    margin-bottom: 10px;

}

.midlle-filter>h3{
    text-align: center;
    font-family: Lato, sans-serif;
    font-style: initial;
}
.hide_coll:hover .plus_btn:hover {
    background: #f09d66;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-size: 12px;
}

.plus_btn {
    display: none;
}
.block-product-name>h3{
    text-transform: capitalize;
    color: #9e9e9e;
    text-decoration: none;
    margin-top: 15px;
    font-family: Lato, sans-serif;
    font-size: 18px;
}
.block-product-name{
    margin-top: 5px;
}
.middle_summer_collection:hover {
    box-shadow: 7px 13px 33px -2px rgba(0, 0, 0, 0.75);
}

.line_handPicked {
    height: auto;
    margin-top: 18px;
    padding: 20px;

}

.reg_hr {
    padding: 0;
    border: none;
    height: 1.3px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    color: #333;
    text-align: center;
}

.slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 100px;
    line-height: 1;
    color: #fdfdfd;
    opacity: 0.55;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.slick-prev {
    left: 50px;
    top: 280px;
    position: absolute;
    z-index: 10;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.slick-next {
    right: 50px;
    top: 280px;
    position: absolute;
    z-index: 10;

    color: inherit;

    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.slick-next:before {
    content: "›";

}

.slick-prev:before {
    content: "‹";
}

.header-cart {
    position: fixed;
    width: 30%;
    height: auto;
    background: white;
    z-index: 900;
    margin-top: 79px;
    color: black;
    right: 80px;
    display: none;
    -webkit-box-shadow: 6px 7px 19px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 19px 1px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 19px 1px rgba(0,0,0,0.75);

}

.header-icons-noti {
    border-radius: 50%;
    background: black;
    color: white;
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-left: -10px;
    position: absolute;
    text-align: center;

}

.header-cart-wrapitem {
    width: 100%;
    height: 300px;
    float: left;
    overflow:scroll;
    overflow-x:hidden;

}
.header-cart-wrapitem >li{
    margin-top: 20px;
    width: 100%;
    height: 90px;
    float: left;
    margin-bottom: 15px;


}
.wish_del{
    margin-top: 28px;
}
.header-cart-item {
    width: 100%;
    height: 100px;
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
}

.header-cart-item-img {
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 10px;

}

.header-cart-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-cart-item-txt {
    width: 50%;
    height: 100%;

    float: left;
    color: black;
    text-decoration: none;
}
.carzina{
    margin-top: 20px;
    width: 10%;
    height: 30px;
    float: left;

}
.header-cart-item-name {
    width: 90%;
    height: 50%;
    text-decoration: none;
    color: #696969;;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    margin-top: 15px;
    float: left;
    margin-left: 10px;

}

.header-cart-item-name:hover {
    text-decoration: none;
    color: #d9bf8f;
}

.header-cart-item-info {
    width: 90%;
    height: 30%;
    float: left;
    margin-left: 10px;
    color: #848484;;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
}

.header-cart-total {
    width: 40%;
    height: 30px;
    float: left;
    margin-left: 200px;
    margin-top: 10px;
    color: #848484;;
    font-family: 'Playfair Display', serif;
    font-size: 19px;

}

.header-cart-buttons {
    width: 100%;
    height: 50px;
    float: left;
    margin-bottom: 20px;
}

.header-cart-wrapbtn {
    width: 40%;
    height: 100%;
    float: left;
    background: black;
    margin-left: 20px;
    border-radius: 50px;

}

.shopping_cart {
    width: 10%;
    float: left;
    height: 40px;

}

.shopping_cart img {
    width: 30px;
    padding-top: 12px;
    height: 40px;
}
.wishlist_btn{
    margin-right: 21px;



}
.shopping_search {
    width: 65%;
    height: auto;
    margin-top: 12px;
    margin-right: 25px;
    float: left;;

}
.love>img:hover{
    /*padding: -5px;*/
    background: url("../images/like.png");
}

.btn_search {
    margin-left: 80%;
    margin-top: -37px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    transition: all 0.8s ease;
}

.btn_search > img {
    width: 31px;
    height: 31px;
    margin-right: 3px;
    background-size: cover;
    background: white;

}

.search_input.active {
    display: block;
    width: 100%;
    border: 1px solid gainsboro;
    outline: none;

}

.btn_search.animate {
    transform: rotate(-360deg);
}

input[type=search] {
    margin-top: -5px;
    display: block;
    width: 0;
    height: 40px;
    border-radius: 50px;
    font-size: 16px;
    background-color: white;
    /*padding: 2px 10px 2px 20px;*/
    /*cursor: default;*/
    border: none;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

/*CONTACT*/
.site-contact {
    width: 100%;
    height: auto;
    float: left;
}

.site-cat {
    width: 100%;
    height: 200px;
    float: left;
}


.contact_row {
    margin-top: 20px;
    width: 100%;
    height: 80%;
    float: left;
    margin-bottom: 20px;
}

.contact_map {
    width: 50%;
    height: 100%;
    float: left;
    padding: 15px;

}

.col-contact {
    width: 45%;
    margin-left: 15px;
    height: 100%;
    float: left;

}

#contact-form {
    width: 100%;
    height: auto;
}

.contact_submit {
    width: 20%;
    height: 30%;
    float: left;
    padding: 15px;
    border-radius: 50px;
    background: black;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.contact_submit:hover {

    text-decoration: none;
    background: #f0975d;
    color: white;
}

.del-item {
    cursor: pointer;
}

.cart_btn {
    margin-top: 10px;
    margin-right: 5px;
}

.col-lg-5{
    margin-top: 35px;
    margin-left: 400px;
    margin-bottom: 60px;
}
.pagination > .active > a{
    background: #0d3349;
    border-color: black;

}
/*ABOUT*/
.about_store {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    float: left;
}

.postare_store {
    width: 40%;
    height: 100%;
    float: left;

}

.history_store {
    width: 50%;
    height: 100%;
    float: left;
    margin-left: 20px;
}

.postare_store > img {
    width: 80%;
    margin-left: 60px;
    height: 500px;
    object-fit: cover;
    float: left;

}


.brand {
    overflow: hidden;
}

.brands_prod {
    margin-top: 38px;
    margin-bottom: 18px;
    width: 100%;
    height: 50px;
    float: left;

}

.brands_ul {
    display: inline-block;
    margin-left: 34px;
    padding-left: 10px;
}

.brands_ul > li {
    width: 80px;
    height: 90%;
    float: left;
}
.brands_ul>li>a>img{
    width: 80px;
    height: 40px;
    object-fit: cover;
}
.brands_ul > li:hover {

    -webkit-box-shadow: 10px 10px 34px -6px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 10px 10px 34px -6px rgba(176, 176, 176, 0.75);
    box-shadow: 10px 10px 34px -6px rgba(0, 0, 0, 0.75);
}


.product-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.one_product {
    width: 100%;
    float: left;
    height: 600px;
    margin-top: 15px;
}

.one_product_image {
    width: 45%;
    height: 90%;
    float: left;
    margin-left: 45px;
    margin-top: 20px;
}

.small_images {
    margin-top: 5px;
    width: 30%;
    height: 100%;
    float: left;
}

.larg_image {
    margin-left: 28px;
    width: 65%;
    height: 100%;
    float: left;
}

.larg_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.midlle_small_images {
    width: 100%;
    height: 30%;
    float: left;
    margin-bottom: 20px;
    background: white;
}

.midlle_small_images img {
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
}

.m-text16 {
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: #222222;
    line-height: 1.5;
}

.m-text17 {
    font-family: Montserrat-Regular;
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
}

.s-text8, .s-text8 a {
    font-family: Montserrat-Regular;
    font-size: 13px;
    color: #888888;
    line-height: 1.8;
}

.p-t-33 {
    padding-top: 33px;
}

.p-b-60 {
    padding-bottom: 60px;
}

.flex-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.p-b-10 {
    padding-bottom: 10px;
}

.s-text15 {
    font-family: Montserrat-Regular;
    font-size: 13px;
    color: #666666;
    line-height: 1.8;
}

.w-size15 {
    width: 21%;
}

.t-center {
    text-align: center;
}

.bo4 {
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}

.of-hidden {
    overflow: hidden;
}

.w-size16 {
    width: 79%;
}

.flex-c-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.sizefull {
    width: 100%;
    height: 100%;
}

.bg1 {
    background-color: #222222;
}

.bg1-overlay {
    background-color: rgba(0, 0, 0, 0.35);
}

.hov1:hover {
    background-color: #f09d66;
    color: white;
}

.s-text1 {
    font-family: Montserrat-Regular;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}

.color1 {
    color: #888888;
}

.size9 {
    width: 162px;
    height: 45px;
}

.fs-12 {
    font-size: 12px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-10 {
    margin-top: 10px;
}

.w-size9 {
    max-width: 300px;
}

.trans-0-4 {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.bo-rad-23 {
    border-radius: 23px;
}

.bg1-pattern {
    background-repeat: repeat;
}

/* -- quantity box -- */

.quantity {
    display: inline-block;
}

.quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor: pointer;
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}

span.msg,
span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
}

.container {
    width: 500px;
    margin: 50px auto 0;
    text-align: center
}

/*Styling Selectbox*/
.dropdown {
    width: 300px;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
    background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}

.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.site-result{
    width: 50%;
    margin-top: 150px;
    margin-left: 180px;
    float: left;
}
.cart-result{
    width: 50%;
    margin-top: 30px;
    margin-left: 350px;
    margin-bottom: 50px;
    float: left;
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.btn-addcart-product-detail{
    float: left;
    margin-left: 20px;

}
.check{
    margin-bottom: 50px;
}
.continue{
   margin-left:  350px;
}
.modal-footer{
    width: 50%;
    margin-left: 250px;
}

/*.check_quantity{*/
    /*background: yellow;*/
    /*width: 30%;*/
    /*margin-left: 80px;*/

/*}*/
.table{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 70px;
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2;
    color:black;
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

.filter-price {
    width: 220px;
    border: 0;
    padding: 0;
    margin: 0;
}

.price-title {
    position: relative;
    color: #fff;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
    background: #f09d66;
    padding:10px;
}

.price-container {
    display: flex;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 65px;
    width:135px;
}

.price-field {
    position: relative;
    width: 350px;
    height: 36px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 0;
}

.price-field input[type=range] {
    position: absolute;
}

/* Reset style for input range */

.price-field input[type=range] {
    width: 100%;
    height: 7px;
    border: 1px solid #000;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    -webkit-appearance: none;
}

.price-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
    outline: 0;
}

.price-field input[type=range]::-ms-track {
    width: 188px;
    height: 2px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    background: transparent;
    border-color: transparent;
    color: red;
    border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type=range]::-webkit-slider-thumb {
    /* WebKit/Blink */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -4px;
    background-color: #fff;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

.price-field input[type=range]::-moz-range-thumb {
    /* Firefox */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: #fff;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

.price-field input[type=range]::-ms-thumb  {
    /* IE */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: #242424;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}

/* Style track input range */

.price-field input[type=range]::-webkit-slider-runnable-track {
    /* WebKit/Blink */
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: #555;
    border-radius: 5px;
}

.price-field input[type=range]::-moz-range-track {
    /* Firefox */
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: #242424;
    border-radius: 5px;
}

.price-field input[type=range]::-ms-track {
    /* IE */
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: #242424;
    border-radius: 5px;
}

/* Style for input value block */

.price-wrap {
    display: flex;
    color: #242424;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 0px;
    margin-left: 35px;
}

.price-wrap-1,
.price-wrap-2 {
    display: flex;
    margin-left: 0px;
}

.price-title {
    margin-right: 15px;

}

.price-wrap_line {
    margin: 6px 0 5px 1px;
}

.price-wrap #one,
.price-wrap #two {
    width: 30px;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    background:  0;
    border: 0;
    outline: 0;
    color: #242424;
    font-family: 'Karla', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
}

.price-wrap label {
    text-align: right;
    margin-top: 6px;
    padding-left: 5px;
}

/* Style for active state input */

.price-field input[type=range]:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.5px #242424;
    transition-duration: 0.3s;
}


.price-field input[type=range]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.5px #242424;
    transition-duration: 0.3s;
}
.blog{
    width: 100%;
    height: auto;
    float: left;
}
.middle-blog{
    margin-left: 55px;
    width: 28%;
    height: 550px;
    margin-bottom: 50px;
    float: left;
    background: rgba(239, 239, 239, 0.31);
}
.field-orders-name{
    width: 30%;
    float: left;
    margin-left: 180px;
    margin-right: 100px;
}
.field-orders-email{
    width: 30%;
    float: left;
}
.field-orders-phone{
    width: 30%;
    float: left;
    margin-left: 180px;
    margin-right: 100px;
}
.field-orders-address{
    width: 30%;
    float: left;
}
.class_checkbox {
    cursor: pointer;
    width: 23px;
    height: 22px;
    border: none;
    background-image: url("../images/heart.png");
}

.input_class_checkbox{
    display: none;
    cursor: pointer;
}
.input_class_checkbox:checked + label {
    cursor: pointer;
    width: 24px;
    height: 22px;
    background-image: url("../images/like.png");
}
.distance{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    background: white;
}
.between{
    margin: 0 auto;
    width: 80%;
    height: 20%;
    float: left;
}

.dis{
    text-align: center;
    font-family: Algerian;
    color: rgba(0, 0, 79, 1);
}
.inpDiv{
    margin: 0 auto;
    width: 60%;
    height: auto;
    background: white;
}
#map{
    margin: 20px auto;
    width: 100%;
    height: 80%;
    float: left;
    border: 1px solid black;
}
.res{
    margin-left: 820px;
    z-index: 100;
    width: 15%;
    height: 20px;
    /*background: black;*/
    color: #000024;
    position: absolute;
    margin-top: 70px;
    /*margin-bottom: 50px;*/
}
.alert alert-success alert-dismissable{
    position: absolute;
    z-index: 10;
    width: 20px;!important;
}
/*.midlle_small_images img{*/
/*width: 100%;*/
/*height: 100%;*/
/*object-fit: cover;*/
/*float: left;*/
/*}*/
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/*@media (min-width: 320px) and (max-width: 480px) {*/

/*body {*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/

/*.collection_center {*/
/*width: 100%;*/
/*height: 100%;*/
/*object-fit: cover;*/
/*background-size: cover;*/
/*}*/

/*.middle_handPicked {*/
/*width: 100%;*/
/*height: 30%;*/
/*margin-bottom: 5px;*/
/*float: left;*/
/*}*/

/*.handPicked {*/
/*width: 100%;*/
/*height: 120px;*/
/*float: left;*/
/*}*/

/*.rumba {*/
/*margin-top: 13px;*/
/*width: 10%;*/
/*float: left;*/

/*}*/

/*.rumba_left {*/
/*margin-left: 45px;*/
/*}*/

/*.title_handPicked {*/
/*width: 60%;*/
/*float: left;*/
/*}*/

/*h1 {*/
/*text-align: center;*/
/*font-size: 25px;*/
/*font-weight: 700;*/
/*font-family: 'Playfair Display', serif;*/
/*font-style: italic;*/
/*}*/

/*main {*/
/*width: 100%;*/
/*height: auto;*/
/*background: url("../images/bachground.png");*/
/*}*/

/*header {*/
/*width: 100%;*/
/*float: left;*/
/*height: 160px;*/
/*}*/

/*.top_bar {*/
/*width: 100%;*/
/*float: left;*/
/*height: 17%;*/
/*background: #f2f2f2;*/
/*}*/

/*.bar_call {*/
/*float: left;*/
/*width: 30%;*/
/*height: auto;*/
/*margin-top: 5px;*/
/*}*/

/*.middle {*/
/*display: none;*/
/*}*/

/*.bar_mySelf {*/
/*width: 70%;*/
/*height: auto;*/
/*margin-top: 5px;*/
/*float: left;*/
/*}*/

/*.header-menu_link {*/
/*padding-right: 0px;*/
/*padding-left: 0px;*/
/*color: #393939;*/
/*font-family: Lato, sans-serif;;*/
/*font-size: 11px;*/
/*text-transform: uppercase;*/
/*text-decoration: none;*/
/*}*/

/*.header-phone_link {*/
/*margin-left: 5px;*/
/*color: #393939;*/
/*font-family: Lato, sans-serif;;*/
/*font-size: 11px;*/
/*text-decoration: none;*/
/*}*/

/*.menu {*/
/*width: 100%;*/
/*float: left;*/
/*height: 83%;*/
/*}*/

/*.menu_shop {*/
/*float: left;*/
/*width: 80%;*/
/*height: auto;*/
/*padding-top: 10px;*/
/*padding-left: 65px;*/
/*}*/

/*.title_shop {*/
/*float: left;*/
/*margin-left: 155px;*/
/*margin-top: 88px;*/
/*width: 30%;*/
/*height: 50px;*/
/*position: absolute;*/
/*}*/

/*.title_shop img {*/
/*width: 90%;*/
/*height: 30px;*/
/*}*/

/*.action_shop {*/
/*float: left;*/
/*width: 100%;*/
/*height: auto;*/
/*margin-top: 5px;*/

/*}*/

/*.menu_link {*/
/*font-family: 'Playfair Display', serif;*/
/*font-size: 18px;*/
/*font-style: italic;*/
/*text-decoration: none;*/
/*color: #000;*/
/*padding: 8px;*/
/*text-align: center;*/
/*}*/

/*.shopping_cart {*/
/*width: 10%;*/
/*float: left;*/
/*height: auto;*/
/*padding-left: 110px;*/

/*}*/

/*.shopping_cart img {*/
/*width: 30px;*/
/*padding-top: 12px;*/
/*height: 30px;*/
/*}*/

/*.shopping_lang {*/
/*width: 20%;*/
/*margin-top: 15px;*/
/*height: 25px;*/
/*float: left;*/
/*margin-left: 25px;*/

/*}*/

/*.currency_select {*/
/*background: black;*/
/*width: 100%;*/
/*height: 100%;*/
/*color: white;*/
/*}*/

/*.shopping_search {*/
/*width: 15%;*/
/*height: auto;*/
/*float: left;*/
/*margin-left: 30px;*/

/*}*/

/*.search_btn {*/
/*background: none;*/
/*color: inherit;*/
/*border: none;*/
/*padding: 0;*/
/*font: inherit;*/
/*cursor: pointer;*/
/*outline: inherit;*/
/*width: 30px;*/
/*height: 30px;*/

/*}*/

/*.search_btn img {*/
/*padding-top: 12px;*/
/*width: 30px;*/
/*height: 30px;*/
/*object-fit: cover;*/
/*}*/

/*.slickslider {*/
/*width: 100%;*/
/*float: left;*/
/*height: 220px;*/
/*}*/

/*.slickslider img {*/
/*width: 100%;*/
/*}*/

/*.support {*/
/*width: 100%;*/
/*margin: 0 auto;*/
/*float: left;*/
/*height: auto;*/
/*}*/

/*.middle_support {*/
/*width: 100%;*/
/*height: 80px;*/
/*float: left;*/
/*margin-bottom: 10px;*/
/*}*/

/*.left {*/
/*width: 100%;*/
/*height: 100%;*/
/*background: url("../images/left.png");*/
/*background-size: cover;*/

/*}*/

/*.center {*/
/*width: 100%;*/
/*height: 100%;*/
/*background: url("../images/center.png");*/
/*background-size: cover;*/
/*}*/

/*.right {*/
/*width: 100%;*/
/*height: 100%;*/
/*background: url("../images/right.png");*/
/*background-size: cover;*/
/*}*/

/*.terms {*/
/*margin-top: 20px;*/
/*width: 70%;*/
/*height: 60px;*/
/*float: left;*/
/*margin-left: 100px;*/
/*}*/

/*.title-terms {*/
/*color: #fff;*/
/*font-family: Lato;*/
/*font-size: 25px;*/
/*font-weight: 700;*/
/*line-height: 18px;*/
/*margin-bottom: 15px;*/

/*}*/

/*.center_terms {*/
/*text-align: center;*/
/*}*/

/*.text-terms {*/
/*margin-right: 91px;*/
/*}*/

/*.terms_right {*/
/*margin-left: 29px;*/
/*}*/

/*.text-terms {*/
/*color: #fff;*/
/*font-family: Lato;*/
/*font-size: 14px;*/
/*font-weight: 400;*/
/*line-height: 18px;*/
/*}*/

/*.triangle_img {*/
/*width: 5%;*/
/*margin-left: 25px;*/
/*margin-top: 20px;*/
/*height: 50px;*/
/*position: absolute;*/
/*}*/

/*.triangle {*/
/*width: 5%;*/
/*margin-left: 60px;*/
/*margin-top: 20px;*/
/*height: 50px;*/
/*position: absolute;*/
/*}*/

/*.triangle_right {*/
/*margin-top: 15px;*/
/*}*/
/*}*/